{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

  <a href="{{ path('articles') }}">List</a>
  <br>


  {% if (workflow_has_marked_place(article, 'published')) %}
    This is the article text: {{ article.text }}
  {% else  %}
    Article not published
  {% endif %}

{% endblock %}